

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html{
  height:100%;

}
body{
  letter-spacing: 2px;
  overflow-x:hidden;
  font-size: 1rem;
  line-height: 1.6;
  height:100%;
  background-color:#E5F7EC;
  scrollbar-width: none;
}

.container {
  height:100%;
  width: 90%;
  display:flex;
  background-color: #E5F7EC;
  
}

#icon{
  height: 150px;
  width: 150px;
  margin: 60px;
  margin-bottom: 75px;
}

.side-nav{
  position: fixed;
  left:0;
  width:300px;
  height:100%;
  background:black;
}

.navItems{
  margin-top: 5px;
  
}


#firstnav:hover{
  background-color: green;
}

.NavItem{
  justify-content: center;
  font-size: 1.2rem;
  display: block;
  color:white;
  padding-left:80px;
  padding-top: 30px;
  padding-bottom:30px;
  line-height:1px;

}

.container{
  height:100%;
  margin-left: 301px;
  padding-top:40px;
  padding-right:40px;
}

/* Forms */
.searchForm input{
  margin: 10px 0px;
  width: 370px;
  height:45px;
}

#btncsv{
  width:100px;
  float:right
}



.searchForm{
  margin-left:100px;
  width: 311px;
height: 100px;

border-radius: 4px;
}


input[type="text"]{
  
  display: block;
  padding:10px 5px;
  padding-left:10px;
  font-size: 1.2 rem;
  border: 1px solid grey;
  border-radius: 0.2rem;
}

.card{
  width:600px;
  margin-left:300px;
  padding: 10px;
  border: #ccc 1px dotted;
  margin: 40px 0;
  background-color: white;
}

.text-left{
  text-align: left;
}

.badge{

  font-size:15px;
  font-weight: bold;
  padding: 1px 10px;

  text-align:center;

  border-radius: 7px;
}

.badge-green{
  background-color: #40CB35

}


.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  padding: 10px;
}

.configs{
  margin-left:300px;
}



.menu {
  margin-left:120px;
  display: table;
  width: 80%;
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
  
}
.menuItem {
  display: table-cell;
  text-align: center;
}

.btn{
  padding: 10px 20px;
  font-size:20px;
  border:none;
  cursor: pointer;
  transition:opacity 02s ease-in;
  outline:none;
}

.exportcsv{
  background-color: #205F1B;
  color:white;
  border-radius: 5px;
}

.tagsDropDown select{
  padding: 10px 20px;
  font-size:20px;
  background-color: #F1F4F3;
  background: #F1F4F3;
border: 1px solid #205F1B;
box-sizing: border-box;
border-radius: 5px;
}

.badge-blue{
  background-color:#62E2CB;
}

.badge-red{
  background-color:#FFB0B0;
}

.badge-violet{
  background-color:#CEB0FF
}

.badge-yellow{
  background-color:#CDDE66
}

.badge-pink{
  background-color:#F4B0FF
}

.iconDrop {
  width: 1em;
  height: 1em;
  transition: transform 290ms cubic-bezier(0, 1, 0, 1);
  will-change: transform;
  fill: #aaa;
}
.rotate90 {
  transform: rotateZ(90deg);
}


/*addForm*/


.contain-add-property{
  margin-left: 300px;
  background-color:#f8ffed ;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%;
  right:21%;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 100px;
  width: 40%;
  border-style: outset;
}

textarea{
  padding-left:10px;
  padding-top:5px;
}

label{
  font-size: 17px;
  font-weight: 800;
  font-family: monospace;
  font-style: normal;
  font-stretch: semi-expanded;
  margin-bottom: 10px;
}
#add{
  color:white;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  width: 90px;
  background-color: green;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 9px;
  margin-left: 285px;
}

#propName{
  height: 30px;
  width: 370px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#description{
  height: 70px;
  width: 370px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#version{
  height: 30px;
  width: 125px;
  border-radius: 4px; 
  margin-top: 5px;
  margin-bottom: 10px;
}
#tagsForm{
  height: 30px;
  width: 370px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  
}

#fitForm{
  height: 30px;
  width: 125px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#jira-id{
  height: 30px;
  width: 370px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#b1{
  float: left;
}
#b2{
  float: left;
  margin-left: 120px;
}